<div class="container">
  <div class="card-lg d-flex justify-content-between">
    <div class="align-self-center pl-4">
      <h1><%= @my_offer.title %></h1>
      <p><%= @my_offer.details %></p>
      <p><%= @my_offer.price %>€</p>
    </div>
    <div class="align-self-end p-3">
      <div class="destroy">
        <%= link_to "Delete",
                  myoffers_offer_path(@my_offer),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
  <div class="container mt-3">
      <% @bookings.each do |booking| %>
        <div class="jumbotron jumbotron-fluid">
          <div class="d-flex justify-content-around p-0">
            <p><%= booking.user.nickname %></p>
            <p>Start date: <%= booking.start_date %></p>
            <p>End date: <%= booking.end_date %></p>
            <p><%= booking.status %></p>
            <%= link_to 'valider', offer_booking_path(booking, user_action: "validate"), method: :patch, class: "btn btn-success" %>
            <%= link_to 'refuser', offer_booking_path(booking, user_action: "decline"), method: :patch, class: "btn btn-danger"  %>
          </div>
        </div>
      <% end %>
  </div>
</div>
