<div class="container">
  <div class="title mt-5 mb-5 title-hr">
    <div class="top">
      <h1><%= @my_offer.title %></h1>
      <p><%= @my_offer.price %>€</p>
    </div>
  </div>
</div>
<div class="card-lg">
  <div class="container">
    <p><%= @my_offer.details %></p>
  </div>
  <div class="container">
    <div class="destroy">
      <%= link_to "Delete",
                myoffers_offer_path(@my_offer),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
<div class="container mt-3">
    <% @bookings.each do |booking| %>
      <div class="jumbotron jumbotron-fluid">
        <div class="d-flex justify-content-around p-0">
          <p><%= booking.user.nickname %></p>
          <p>Start date: <%= booking.start_date %></p>
          <p>End date: <%= booking.end_date %></p>
          <p><%= booking.status %></p>
          <%= link_to 'valider', offer_booking_path(booking, user_action: "validate"), method: :patch  %>
          <%= link_to 'refuser', offer_booking_path(booking, user_action: "decline"), method: :patch  %>
        </div>
      </div>
    <% end %>
</div>
