<div class="container">
  <div class="title mt-5 mb-5 title-hr">
      <h1>Your bookings</h1>
  </div>
</div>

<% @my_bookings.each do |my_booking| %>
<div class="card-md justify-content-between">
    <p><strong>"<%= @offers.find(my_booking.offer_id).title %>"</strong></p>
    <p>Width your buddy <strong><%= my_booking.offer.user.nickname %></strong> on the <%= my_booking.start_date %></p>
    <% if my_booking.status == "pending" %>
      <span class="btn btn-warning">Waiting for <%= my_booking.offer.user.nickname %>'s answer</span>
    <% elsif my_booking.status == "refused" %>
      <span class="btn btn-danger"><%= my_booking.offer.user.nickname %> declined your booking request</span>
    <% elsif my_booking.status == "validated" %>
      <span class="btn btn-success"><%= my_booking.offer.user.nickname %> approved your booking request!</span>
    <% end %>
</div>
<% end %>
