<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1562862917-cadaa6073261?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1354&q=80);">
  <div class="container">
    <h1>AirBnBuddy</h1>
    <p>Find the buddy you need.</p>
  </div>
</div>
<div class="container" id="title-offers">
  <div class="row">
    <h3>All offers</h3>
  </div>
</div>
<div id="cont-cards">
  <div class="cards">
    <% @offers.each do |offer| %>
    <div class="card card-<%= rand(1..5) %>">
      <div class="notification-content">
        <p><small><%= offer.user.nickname %></small></p>
      </div>
      <div class="card__icon"><%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large fas fa-bolt card__exit", alt: "avatar-large" %></div>
      <h2 class="card__title"><%= offer.title %></h2>
      <p class="card__apply">
        <a class="card__link"><%= link_to "See full offer", "/offers/#{offer.id}", class:"card__link"%> <i class="fas fa-arrow-right" style="color:white"></i></a>
      </p>
    </div>
    <% end %>
  </div>
</div>
