<div class="container">
  <div class="title mt-5 mb-5" id="title-hr">
    <h1>Create a new offer</h1>
  </div>
</div>

<div class="container">
  <div class="content">
    <%= simple_form_for(@offer) do |f| %>
      <%= f.input :title %>
      <%= f.input :details %>
      <%= f.input :price %>
      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
