<div class="container">
  <div class="title mt-5 mb-5 title-hr">
      <h1>Offer details</h1>
  </div>
</div>

<div class="card-lg">
  <div class="container mt-5">
    <div class="row">
      <div class="col lg-10 align-middle">
        <div class="user-details">
        <h2><%= @offer.title %></h2>
        <p><strong><%= @offer.price %>0 €</strong></p>
        <p><%= @offer.details %></p>
        <p><strong>Proposed by : </strong></p>
        <%= cl_image_tag @users.photo.key, class: "avatar-large fas fa-bolt card__exit", alt: "avatar-large" %>
        <%= @users.nickname %>
        </div>
      </div>
        <div class="col lg-2 align-middle">
        <div class="container">
          <div class="destroy">
          <% if current_user == @offer.user %>
            <%= link_to "Delete",
                      offer_path(@offer),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "btn btn-danger"%>
          <% else %>
            <%= simple_form_for([@offer, @booking]) do |f|%>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              <div class="float-right mt-3 mb-3">
                <%= f.submit 'Book this offer', class: "btn btn-success" %>
              </div>
            <% end  %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
