<div class="container">
  <div class="card-lg">
    <div class="container p-4">
      <div class="row">
        <div class="col lg-10 align-middle">
          <h1><%= @offer.title %></h1>
          <p><%= @offer.details %></p>
          <p><%= @offer.price %>€</p>
          <div class="d-flex flex-row text-dark">
            <div class="card__icon pr-3 align-self-center">
              <%= cl_image_tag @offer.user.photo.key, class: "avatar-large fas fa-bolt card__exit", alt: "avatar-large" %>
            </div>
            <p class="align-self-center"><small><%= @offer.user.nickname %> - <%= @offer.city %></small></p>
          </div>
        </div>
        <div class="col lg-2 align-middle">
          <div class="container">
            <div class="destroy">
              <% if current_user == @offer.user %>
                <%= link_to "Delete",
                          offer_path(@offer),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "btn btn-danger"%>
              <% else %>
                <%= simple_form_for([@offer, @booking]) do |f|%>
                  <%= f.input :start_date, as: :date, html5: true %>
                  <%= f.input :end_date, as: :date, html5: true %>
                  <%= f.submit %>
                <% end  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
